flows/biogrid-cortex-flows.json
[{"type":"tab","id":"57f898cf.a80768","label":"Data stream processor"},{"id":"c060976d.3f9f68","type":"mqtt-broker","z":"57f898cf.a80768","broker":"192.168.99.100","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"connections/lost","willQos":"0","willRetain":"false","willPayload":"BYE","birthTopic":"connections/birth","birthQos":"0","birthRetain":"false","birthPayload":"HELO"},{"id":"1b9e186.fe461e8","type":"mqtt-broker","z":"57f898cf.a80768","broker":"localhost","port":"1883","clientid":"Node-red","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"connections/lost","willQos":"0","willRetain":"false","willPayload":"Node red connection lost","birthTopic":"connections/birth","birthQos":"0","birthRetain":"false","birthPayload":"HELLO from Node-red"},{"id":"492f631c.b6d09c","type":"twitter-credentials","z":"57f898cf.a80768","screen_name":"@augustzf"},{"id":"6ba889ae.945778","type":"mongodb","z":"57f898cf.a80768","hostname":"192.168.99.100","port":"27017","db":"biogrid","name":""},{"id":"db14102e.24ebf","type":"inject","z":"57f898cf.a80768","name":"RH","topic":"rh","payload":"{\"id\":\"81772309-6FFF-4886-9977-DA15AD34C263\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":108,"y":136,"wires":[["941a03e8.6be6"]]},{"id":"ae000ccd.51fff","type":"function","z":"57f898cf.a80768","name":"prepare update","func":"var sensorType = msg.topic;\nvar sensorId = msg.payload.id;\nvar value = msg.payload.value;\n\nnode.log(\"Type: \" + sensorType + \" value: \" + value);\n\nvar ts = new Date();\n\nmsg.payload = {}\nvar hours = ts.getHours();\nvar minutes = ts.getMinutes(); \nvar seconds = ts.getSeconds();\nvar day = ts.toISOString().substring(0, 10);\n\n// Update the document for the current day (or create new)\n// See https://github.com/node-red/node-red-nodes/blob/master/storage/mongodb/66-mongodb.js\nvar query = {\n    sensor_id: sensorId,\n    day: day\n};\nvar key = \"values.\" + hours + \".\" + minutes + \".\" + seconds;\nvar update = {}\nupdate['$set'] = {}\nupdate['$set'][key] = value\n\nmsg.query = query\nmsg.payload = update\nmsg.collection = sensorType\n\nreturn msg;","outputs":1,"noerr":0,"x":456,"y":174,"wires":[["a4868bd4.5b7978","340bfaf5.cbf406"]]},{"id":"b84640c7.47b9c","type":"inject","z":"57f898cf.a80768","name":"CO2","topic":"co2","payload":"{\"id\":\"F5DF0E1C-5BE1-4C49-B22F-B5542564BB9A\"}","payloadType":"string","repeat":"","crontab":"","once":false,"x":107,"y":210,"wires":[["a047f764.5fb808"]]},{"id":"a4868bd4.5b7978","type":"debug","z":"57f898cf.a80768","name":"","active":true,"console":"false","complete":"false","x":630,"y":108,"wires":[]},{"id":"941a03e8.6be6","type":"function","z":"57f898cf.a80768","name":"sine wave","func":"var v = (new Date()).getTime();\nmsg.payload = { id: msg.payload.id, value: 1024 * (Math.sin(v / 3600000) + 1) };\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":133,"wires":[["ae000ccd.51fff"]]},{"id":"a047f764.5fb808","type":"function","z":"57f898cf.a80768","name":"cos wave","func":"var v = (new Date()).getTime();\nmsg.payload = { id: msg.payload.id, value: 1024 * (Math.cos(v / 3600000) + 1) };\nreturn msg;","outputs":1,"noerr":0,"x":254,"y":211,"wires":[["ae000ccd.51fff"]]},{"id":"340bfaf5.cbf406","type":"mongodb out","z":"57f898cf.a80768","mongodb":"6ba889ae.945778","name":"timeseries updater","collection":"","payonly":false,"upsert":true,"multi":true,"operation":"update","x":638,"y":236,"wires":[]},{"id":"660a4af9.99f5b4","type":"comment","z":"57f898cf.a80768","name":"Topic is sensor type. Payload is json obj with sensor ID","info":"","x":205,"y":46,"wires":[]}]